nav .-active {
    opacity: 1;
 }

nav {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 20px;
}

nav div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav img {
    width: 100%;
}

nav a {
    width: 40px;
    opacity: 0.4;
    transition: 0.2s;
}

nav a:hover {
    scale: 1.1;
}

nav.-bg-rect {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}